h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

container {
    width: 100%;
    border: 1px solid gray;
}

nav {
    float: left;
    max-width: 280px;
    margin: 0;
    padding: 1em;
}

article {
    margin-left: 200px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}